.ability {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 0.75em;
	border-radius: 0.75em;
	padding: 1em;
}

.ability:not(:last-of-type) {
	margin-bottom: 1em;
}

.abbility-score {
	margin-left: auto;
	color: var(--clr-dark);
}

.abbility-score > span {
	opacity: 0.5;
}

@media (min-width: 48em) {
	.ability-name,
	.abbility-score {
		font-size: 1.8rem;
	}
}
