.abilities.container {
	background-color: var(--clr-white);
	padding: 1.875em 1.5em 2em;
	margin-top: -1.5em;
}

.headline {
	color: var(--clr-dark);
	margin-bottom: 1.3333em;
	padding-top: 1em;
	font-size: 1.8rem;
}

.abilities {
	list-style: none;
}
