.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	padding: 1.5em 3.375em 2.5em;
	background-image: linear-gradient(to bottom, var(--clr-bg-1), var(--clr-bg-2));
}

.circle {
	border-radius: 50%;
	background-image: linear-gradient(to bottom, var(--clr-circle-1), var(--clr-circle-2));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
	width: 140px;
	height: 140px;
}
