.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	border-bottom-left-radius: 3.2rem;
	border-bottom-right-radius: 3.2rem;
	padding: 2.4rem 5.4rem 4rem;
	background-image: linear-gradient(to bottom, var(--clr-bg-1), var(--clr-bg-2));
}
